In [1]:
#Function Arguments
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [2]:
#parameter is the variable listed inside the parentheses in the function definition.
#argument is the actual value that is sent to the function when it is called.

def my_function(name): # name is a parameter
  print("Hello", name)

my_function("Emil") # "Emil" is an argument

Hello Emil

In [3]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [4]:
#Default Parameter Values

def my_function(name = "friend"):
  print("Hello", name)

my_function("Emil")
my_function("Tobias")
my_function()
my_function("Linus")

Hello Emil
Hello Tobias
Hello friend
Hello Linus

In [6]:
#Keyword Arguments - kwargs

def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function(animal = "dog", name = "Buddy")


def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function(name = "Buddy", animal = "dog")

I have a dog
My dog's name is Buddy
I have a dog
My dog's name is Buddy

In [8]:
#Positional Arguments - call fun without using keywords


def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function("dog", "Buddy")

# order matters
def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function("Buddy", "dog")

I have a dog
My dog's name is Buddy
I have a Buddy
My Buddy's name is dog

In [9]:
def my_function(animal, name, age):
  print("I have a", age, "year old", animal, "named", name)

my_function("dog", name = "Buddy", age = 5)

I have a 5 year old dog named Buddy

In [12]:
def my_function(fruits):
  for fruits in fruits:
    print(fruits)

my_fruits = ["apple", "banana", "cherry"]
my_function(my_fruits)

apple
banana
cherry

In [13]:
def my_function(person):
  print("Name:", person["name"])
  print("Age:", person["age"])

my_person = {"name": "Emil", "age": 25}
my_function(my_person)

Name: Emil
Age: 25

In [14]:
def my_function(x, y):
  return x + y

result = my_function(5, 3)
print(result)

8

In [16]:
def my_function():
  return ["apple", "banana", "cherry"]

fruits = my_function()
print(fruits[0])
print(fruits[1])
print(fruits[2])


def my_function():
  return (10, 20)

x, y = my_function()
print("x:", x)
print("y:", y)

apple
banana
cherry
x: 10
y: 20

In [20]:
#Positional-Only Arguments - add , / after the arguments:

def my_function(name,/):
  print("Hello", name)

my_function("Emil")

Hello Emil

In [21]:
#Keyword-Only Arguments-add *,

def my_function(*, name):
  print("Hello", name)

my_function(name = "Emil")

Hello Emil

In [22]:
def my_function(a, b, /, *, c, d):
  return a + b + c + d

result = my_function(5, 10, c = 15, d = 20)
print(result)

50

In [1]:
#*args and **kwargs - allow functions to accept a unknown number of arguments.

#Arbitrary Arguments - *args - add a * before the parameter name.
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [2]:
def my_function(*args):
  print("Type:", type(args))
  print("First argument:", args[0])
  print("Second argument:", args[1])
  print("All arguments:", args)

my_function("Emil", "Tobias", "Linus")

Type: <class 'tuple'>
First argument: Emil
Second argument: Tobias
All arguments: ('Emil', 'Tobias', 'Linus')

In [3]:
def my_function(greeting, *names):
  for name in names:
    print(greeting, name)

my_function("Hello", "Emil", "Tobias", "Linus")

Hello Emil
Hello Tobias
Hello Linus

In [4]:
def my_function(*numbers):
  total = 0
  for num in numbers:
    total += num
  return total

print(my_function(1, 2, 3))
print(my_function(10, 20, 30, 40))
print(my_function(5))

6
100
5

In [5]:
def my_function(*numbers):
  if len(numbers) == 0:
    return None
  max_num = numbers[0]
  for num in numbers:
    if num > max_num:
      max_num = num
  return max_num

print(my_function(3, 7, 2, 9, 1))

9

In [6]:
#Keyword Arguments - **kwargs - add two asterisks ** before the parameter name.

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [7]:
def my_function(**myvar):
  print("Type:", type(myvar))
  print("Name:", myvar["name"])
  print("Age:", myvar["age"])
  print("All data:", myvar)

my_function(name = "Tobias", age = 30, city = "Bergen")

Type: <class 'dict'>
Name: Tobias
Age: 30
All data: {'name': 'Tobias', 'age': 30, 'city': 'Bergen'}

In [8]:
def my_function(username, **details):
  print("Username:", username)
  print("Additional details:")
  for key, value in details.items():
    print(" ", key + ":", value)

my_function("emil123", age = 25, city = "Oslo", hobby = "coding")

Username: emil123
Additional details:
  age: 25
  city: Oslo
  hobby: coding

In [9]:
def my_function(title, *args, **kwargs):
  print("Title:", title)
  print("Positional arguments:", args)
  print("Keyword arguments:", kwargs)

my_function("User Info", "Emil", "Tobias", age = 25, city = "Oslo")

Title: User Info
Positional arguments: ('Emil', 'Tobias')
Keyword arguments: {'age': 25, 'city': 'Oslo'}

In [10]:
#Unpacking Arguments
def my_function(a, b, c):
  return a + b + c

numbers = [1, 2, 3]
result = my_function(*numbers) # Same as: my_function(1, 2, 3)
print(result)

6

In [11]:
def my_function(fname, lname):
  print("Hello", fname, lname)

person = {"fname": "Emil", "lname": "Refsnes"}
my_function(**person) # Same as: my_function(fname="Emil", lname="Refsnes")

Hello Emil Refsnes